/* Default styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    /* Light background for contrast */
    color: #333;
    /* Dark text for contrast */
}

header,
main,
footer {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

/* Feedback Styles */
.feedback-correct {
    color: green;
}

.feedback-incorrect {
    color: red;
}

/* Media queries for responsiveness */

/* Small screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        /* Adjust font size for smaller screens */
    }

    #quiz-container {
        width: 90%;
        /* Adjust width for small screens */
        padding: 10px;
        /* Adjust padding for small screens */
    }
}

/* Medium screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px;
        /* Adjust font size for medium screens */
    }

    #quiz-container {
        width: 70%;
        /* Adjust width for medium screens */
        padding: 20px;
        /* Adjust padding for medium screens */
    }
}

/* Large screens */
@media screen and (min-width: 1025px) {
    body {
        font-size: 18px;
        /* Adjust font size for larger screens */
    }

    #quiz-container {
        width: 60%;
        /* Adjust width for larger screens */
        padding: 30px;
        /* Adjust padding for larger screens */
    }
}