body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    /* Light Base Color */
    color: #333;
    background-image: linear-gradient(to right top, #6a11cb 0%, #2575fc 100%);
    /* Gradient Background */
    background-attachment: fixed;
    /* Background Fixed when Scrolling */
}

/* Text Readable On Background */
header h1,
footer p {
    color: #fff;
    /* White Text for Better Ccontrast */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    /* Text Shadow for Readability */
}

/* Quiz Container Style to Enhance Readability */
#quiz-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-Transparent White Background */
    padding: 20px;
    border-radius: 8px;
    /* Rounded Corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle Box Shadow */
    width: 100%;
    /* Full Width on Small Screens */
    box-sizing: border-box;
    /* Include Padding in Width Calculation */
    margin-top: 20px;
    /* Margin for Spacing */
}

/* Default Styles Optimized for Mobile Screens */
header,
main,
footer {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
}

#questionCounter {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* Feedback Styles */
.feedback-correct {
    color: green;
    text-align: center;
}

.feedback-incorrect {
    color: red;
    text-align: center;
}

/* Media Queries for Larger Screens */

/* Medium Screens */
@media screen and (min-width: 600px) {
    body {
        padding: 40px;
    }

    #quiz-container {
        width: 80%;
        /* Adjust Width for Medium Screens */
        margin: auto;
        /* Center the Container */
    }
}

/* Large Screens */
@media screen and (min-width: 1024px) {
    body {
        padding: 60px;
    }

    #quiz-container {
        width: 60%;
        /* Adjust Width for Large Screens */
    }
}
